.dashboard-container {
    margin: 20px;
  }
  
  .add-widget-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .add-widget-button{
    border-radius: 6px;
  }